---
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import x from '../assets/images/x.svg';
import insta from '../assets/images/insta.svg';
import face from '../assets/images/face.svg';
import you from '../assets/images/you.svg';
import inl from '../assets/images/in.svg';
import foot from '../assets/images/footerblo.svg';
---
<!-- mobil -->
<section class="lg:hidden px-8 pt-20 max-w-6xl mx-auto  text-lysblaa">

    <article class="gap-5">
        <h2 class="pb-5 font-roboto font-bold text-4xl">Følg med her</h2>
        <div class="flex flex-wrap gap-4">
            <Image src={x} alt="x" class=""/>
            <Image src={insta} alt="instagram" class=""/>
            <Image src={face} alt="faecbook" class=""/>
            <Image src={you} alt="youtube" class=""/>
            <Image src={inl} alt="in" class=""/>
        </div>
         
        <h2 class="pt-5 font-roboto font-bold text-4xl">Tilmeld dig nyhedsbrevet</h2>
            <div class="pt-5">
                <button>Din email</button>
                <button>tilmeld dig her</button>
            </div>
    </article>
    
    <article class="pt-10">
        <h3 class="text-2xl font-roboto font-bold pb-5">Kontakt</h3>
        <p class="font-rubik">Mail: info@plasicchange.org</p>
        <p class="font-rubik">Tlf: +45 42 66 72 46</p>
        <p class="font-rubik">Telefontid: Mandag - fredag</p>
        <p class="font-rubik">10:00 - 15:00</p>
    <div class="pt-5">
        <Button >Støt nu</Button>
    </div>
        
    </article>

</section>
<!-- web -->
<section class="hidden lg:block px-8 pt-20 max-w-6xl mx-auto  text-lysblaa">
    
    <section class="grid grid-cols-2 gap-20">
        
        <article class="gap-5 order-2">
            <h2 class="pb-5 font-roboto font-bold text-4xl">Følg med her</h2>
                <div class="flex flex-wrap gap-4">
                    <Image src={x} alt="x" class=""/>
                <Image src={insta} alt="instagram" class=""/>
                <Image src={face} alt="faecbook" class=""/>
                    <Image src={you} alt="youtube" class=""/>
                    <Image src={inl} alt="in" class=""/>
                </div>
         
            <h2 class="pt-5 font-roboto font-bold text-4xl">Tilmeld dig nyhedsbrevet</h2>
                <div class="pt-5">
                    <input type="text"
                        x-model="email" placeholder="Din email her"
                        class="py-3 px-1 text-lg rounded-full border-2 border-roed text-roed m-1 text-center focus:border-roed placeholder-lysroed"> 
                <Button>Tilmeld dig her!</Button>
                </div>
        </article>
    
        <article class="pt-10 order-1">
            <h3 class="text-2xl font-roboto font-bold pb-5">Kontakt</h3>
            <p class="font-rubik">Mail: info@plasicchange.org</p>
            <p class="font-rubik">Tlf: +45 42 66 72 46</p>
            <p class="font-rubik">Telefontid: Mandag - fredag</p>
            <p class="font-rubik">10:00 - 15:00</p>

        <div class="pt-5">
           <Button >Støt nu</Button>
        </div>
        </article>

    </section>
    
</section>

    <Image src={foot} alt="skraldebund" class="w-full h-auto"/>

  