---
import { Image } from 'astro:assets';
import tekstil from "../assets/images/Tekstik.svg";
import plast from "../assets/images/plast.svg";
import genbrug from "../assets/images/Genbrug.svg";
import underskrift from "../assets/images/Pen_Papir.svg";
import plastik from "../assets/images/Plastik.svg";
import organisk from "../assets/images/organisk.svg";
---
<div class="bg-morkblaa py-20">
<section class=" text-lysblaa px-8 max-w-6xl mx-auto ">
    <h2 class="font-komu text-7xl lg:text-8xl pb-10">HVAD KAN JEG GØRE</h2>
    <p class="font-rubik text-lg lg:w-3/4">Alle kan gøre noget, men ingen kan gøre alt. Det hele starter med DIG, de ændringer, du kan skabe i din hverdag, og hvordan du kan og har lyst til at støtte plastik-sagen.</p>
    <article class="hidden lg:grid grid-cols-2 gap-20 sticky font-roboto">
        <Image src={tekstil} alt="" class="flex items-center sticky top-0 h-screen w-100 bg-morkblaa order-2"/>
        <p class="mt-4 h-screen w-100 parallaxcontainer order-1 mx-auto grid content-center items-center text-xl"><span class="text-5xl text-blaa">Undgå at købe tøj af syntetisk stof</span><br><br>Syntetisk tøj frigiver mikro- og nanoplast, både når du går i det og når du vasker og stryger. Mange af partiklerne ender i luften, og du kan komme til at indånde det.</p>
        <Image src={plast} alt="" class="flex items-center sticky top-0 h-screen w-100 bg-morkblaa order-4"/>
        <p class="mt-4 h-screen w-100 parallaxcontainer order-3 mx-auto grid content-center items-center text-xl"><span class="text-5xl text-blaa">Drop engangsplastik og plastikposer</span><br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis maxime eum rem ipsa voluptas delectus. Ea modi ex rem fugiat aut exercitationem aspernatur magnam nesciunt unde, quibusdam eum. Ullam, maiores.</p>
        <Image src={genbrug} alt="" class="flex items-center sticky top-0 h-screen w-100 bg-morkblaa order-6"/>
        <p class="mt-4 h-screen w-100 parallaxcontainer order-5 mx-auto grid content-center items-center text-xl"><span class="text-5xl text-blaa">Genbrug er bedre end genanvendelse</span><br><br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cum saepe voluptas quis in sit id inventore aperiam explicabo, quasi pariatur, similique est corrupti, voluptatem consequatur labore error optio minus.</p>
        <Image src={organisk} alt="" class="flex items-center sticky top-0 h-screen w-100 bg-morkblaa order-8"/>
        <p class="mt-4 h-screen w-100 parallaxcontainer order-7 mx-auto grid content-center items-center text-xl"><span class="text-5xl text-blaa">Vælg glas, stål eller papir fremfor plastik</span><br><br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo doloribus consectetur iusto dolor illum! Porro, assumenda veniam. Soluta esse voluptatum facilis deserunt. Aliquam in et officiis, rem odio modi nulla?</p>
        <Image src={underskrift} alt="" class="flex items-center sticky top-0 h-screen w-100 bg-morkblaa order-10"/>
        <p class="mt-4 h-screen w-100 parallaxcontainer order-9 mx-auto grid content-center items-center text-xl"><span class="text-5xl text-blaa">Skriv under og kræv en ambitiøs plastik traktat</span><br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ducimus, optio nisi tempora enim quisquam quae impedit molestias modi magni nesciunt quasi. Fugiat est animi incidunt vel possimus ex quos.</p>
    </article>
    <article class="lg:hidden grid sticky">
        <div class="grid items-center sticky top-0 h-screen w-100 bg-morkblaa font-roboto text-lg">
            <Image src={tekstil} alt="" class="flex items-center top-0"/>
            <p class="mx-auto p-10"><span class="text-4xl text-blaa">Undgå at købe tøj af syntetisk stof</span><br><br>Syntetisk tøj frigiver mikro- og nanoplast, både når du går i det og når du vasker og stryger. Mange af partiklerne ender i luften, og du kan komme til at indånde det.</p>
        </div>
        <div class="grid items-center sticky top-0 h-screen w-100 bg-morkblaa font-roboto text-lg">
            <Image src={plast} alt="" class="flex items-center top-0"/>
            <p class="mx-auto p-10"><span class="text-4xl text-blaa">Drop engangsplastik og plastikposer</span><br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis maxime eum rem ipsa voluptas delectus. Ea modi ex rem fugiat aut exercitationem aspernatur magnam nesciunt unde, quibusdam eum. Ullam, maiores.</p>
        </div>
        <div class="grid items-center sticky top-0 h-screen w-100 bg-morkblaa font-roboto text-lg">
            <Image src={genbrug} alt="" class="flex items-center top-0"/>
            <p class="mx-auto p-10"><span class="text-4xl text-blaa">Genbrug er bedre end genanvendelse</span><br><br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cum saepe voluptas quis in sit id inventore aperiam explicabo, quasi pariatur, similique est corrupti, voluptatem consequatur labore error optio minus.</p>    
        </div>
        <div class="grid items-center sticky top-0 h-screen w-100 bg-morkblaa font-roboto text-lg">
            <Image src={organisk} alt="" class="flex items-center top-0"/>
            <p class="mx-auto p-10"><span class="text-4xl text-blaa">Vælg glas, stål eller papir fremfor plastik</span><br><br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo doloribus consectetur iusto dolor illum! Porro, assumenda veniam. Soluta esse voluptatum facilis deserunt. Aliquam in et officiis, rem odio modi nulla?</p>
        </div>
        <div class="grid items-center sticky top-0 h-screen w-100 bg-morkblaa font-roboto text-lg">
            <Image src={underskrift} alt="" class="flex items-center top-0"/>
            <p class="mx-auto p-10"><span class="text-4xl text-blaa">Skriv under og kræv en ambitiøs plastik traktat</span><br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ducimus, optio nisi tempora enim quisquam quae impedit molestias modi magni nesciunt quasi. Fugiat est animi incidunt vel possimus ex quos.</p>
        </div>
    </article>
</section>
</div>

<script>
    import { animate, stagger, inView, scroll, timeline } from "motion";
    document.querySelectorAll(".parallaxcontainer").forEach(( parallaxcontainer ) => {
  const elementderskalparallaxes = parallaxcontainer.querySelector("p");
  scroll(animate(elementderskalparallaxes, { y: [50, 500] }), {
    target: elementderskalparallaxes
  });
});
/* document.querySelectorAll(".parallaxcontainermedflereelementer").forEach(( parallaxcontainer ) => {
  const elementderskalparallaxes2 = parallaxcontainer.querySelector(".paragraf2");
  scroll(animate(elementderskalparallaxes2, { y: [ 0, 800] }), { target: elementderskalparallaxes2 });
}); */
</script>