---
import { Image } from 'astro:assets';
import kop from '../assets/images/kop.svg';
import termo from '../assets/images/termoflaske.svg';
import shirt from '../assets/images/t-shirt.svg';
---

<section class="px-8 mt-20 mb-20 grid gap-5 lg:grid-cols-2 lg:gap-20 max-w-6xl mx-auto">

    
         <article class="grid gap-5">
            <h2>Vi donerer 5% af overskuddet</h2>
            <p>Udover at støtte med bidrag og ændre dine egne vaner kan du også støtte plastic change i vores shop. Vi har selvfølgelig sørget for at alle produkterne er fri for plastik. </p>
        </article>
       

        <article class="grid grid-cols-2 place-items-center lg:hidden">
            <Image src={shirt} alt="diagram." class=""/>
            <div>
                <Image src={kop} alt="diagram." class=""/>
           
            <Image src={termo} alt="diagram." class=""/></div>
            
        </article>

          <article class="grid grid-cols-3 gap-4 ">
            <div><Image src={shirt} alt="diagram." class="hidden lg:block"/></div>
            <div><Image src={kop} alt="diagram." class="hidden lg:block"/></div>
            <div><Image src={termo} alt="diagram." class="hidden lg:block"/></div>
    
        </article>



</section>
