---
import { Image } from 'astro:assets';
import kop from '../assets/images/kop.svg';
import termo from '../assets/images/termoflaske.svg';
import shirt from '../assets/images/t-shirt.svg';
---

<h2 class="font-komu text-9xl">Vi donerer 5% af overskuddet</h2>

<section class="px-8 mt-20 mb-20 grid gap-5 lg:grid-cols-2 lg:gap-20 max-w-6xl mx-auto">
         <article class="grid gap-5">
            <p>Udover at støtte med bidrag og ændre dine egne vaner kan du også støtte plastic change i vores shop. Vi har selvfølgelig sørget for at alle produkterne er fri for plastik. </p>
        </article>
       
<!-- mobil versjon -->
        <article class="grid grid-cols-2 place-items-center lg:hidden">
            <Image src={shirt} alt="t-shirt" class=""/>
            <div>
                <Image src={kop} alt="kop" class=""/>
           
            <Image src={termo} alt="termoflaske" class=""/></div>    
        </article>

        <div class="justify-self-center lg:hidden"><button>knap</button></div>

<!-- web -->
        <article class="grid grid-cols-3 gap-4 ">
            <div><Image src={shirt} alt="t-shirt" class="hidden lg:block"/></div>
            <div><Image src={kop} alt="kop" class="hidden lg:block"/></div>
            <div><Image src={termo} alt="termoflaske" class="hidden lg:block"/></div>
        </article>

    <div class="grid justify-self-center"> <button class=" hidden lg:block">knap</button></div>
       

</section>
